<div class="page-header">
    <h1>Session: {{id}}</h1>
</div>

<div class="session__item panel panel-default added">
    <div class="panel-heading">
        <h4 class="list-group-item-heading">
            <div class="clearfix">
                <span class="label label-{{stateLabel}}">{{stateString}}</span>
                <span class="label label-info">{{duration}}</span>
            </div>
        </h4>
    </div>
    <div class="panel-body">
        <div class="event-list">
            {{#each sessionEvents}}
                <div class="event-wrap">
                    <label class="label {{type}}">{{event}}</label>
                </div>
            {{/each}}
        </div>
    </div>
</div>